
* {
    font-family:"メイリオ", "Meiryo", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "IPA Pゴシック", "IPAPGothic", "sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

